.button {
	box-shadow: 0px 14px 25px -1px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:11px;
	display:inline-block;
	cursor:pointer;
	color:#000;
	font-family: 'Lobster', cursive;
	font-size: 4rem;
	font-weight:bold;
	padding:24px 60px;
	text-decoration:none;
	text-shadow:0px 0px 0px #3d768a;
  margin-top: 30px;
}

.button:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}

.button:active {
	position:relative;
	top:1px;
}
.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  margin: 3% 7% 0;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #408c99;
}

p {
  font-size: 2rem;
  color: #408c99;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.noselect {
  user-select: none;
}
